body {
	background : aliceblue;
}

h1 {
	color: brown;
	text-align: center;
}

header {
	border-bottom: 1px solid;
}

ul {
	border-width : 1px; 
	border-style : dotted;
}

a  {
	text-decoration : none; 
}

p {
	font-family : "휴먼편지체";
	font-size : 1em;
	text-indent : 1em;
}

h2, h2 a {
	color : blue;
	text-shadow : 3px 3px 4px skyblue;
}

footer {
	background : orange;
	border-radius : 9px;
}